html, body {
  font-size: small;
  height: 100%;
  margin: 0;
}

body, td, a, p, .h {
  font-family: arial,sans-serif;
  color: black;
}

.container {
  top: 0;
  width: 100%;
}

#navbar {
  position: relative;
  top: 25px;
  width: 100%;
}

.topnav {
  overflow: hidden;
}

.topnav-left {
  margin: 7px 0 0 10px;
}

.topnav a {
  float: left;
  padding-left: 15px;
  text-decoration: none;
  opacity: 0.75;
  display: inline-block;
}

.topnav a:hover {
  text-decoration: underline;
  color: black;
  opacity: 1;
}

.topnav-right {
  float: right;
  padding-right: 15px;
  margin: 0px 10px 0 0;
}

.appimg {
  height: 15px;
  width: 15px;
  opacity: 0.75;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  margin-left: 15px;
  margin-top: -5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.clear {
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 109px;
}

.center img {
  height: 92px;
  width: 272px;
}

.searchform {
  width: 584px;
  background: #fff;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  height: 44px;
  margin: 0 auto;
  margin-top: 20px;
}

.searchpad {
  padding: 5px 8px 0 16px;
}

.searchinput {
  font: 18px arial,sans-serif;
  line-height: 34px;
  height: 34px !important;
}

.search {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  outline: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: 7px;
}

.buttonloc {
  height: 58px;
  padding-top: 18px;
  top: 53px;
}

input[type="submit"] {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 10px 16px;
}

input[type="submit"]:hover {
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08), 0 0 0 1px rgba(0,0,0,0.16);
}

#footer1 {
  margin-top: 256px;
}

.footer {
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  min-width: 980px;
}

.footerloc {
  margin-left: 30px;
  text-align: left;
  color: rgba(0,0,0,.54);
  padding-left: 27px;
}

.location {
  font-size: 15px;
}

.footerright {
  margin-right: 30px;
  float: right;
}

.footerright1 {
  display: inline-block;
  color: #5f6368;
  text-decoration: none;
  padding-right: 15px;
}

.footerleft {
  margin-left: 30px;
}

.footerleft1 {
  display: inline-block;
  color: #5f6368;
  text-decoration: none;
  padding-right: 15px;
}
